@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');body{background-color: #ffe8d2;font-family: 'Montserrat', sans-serif}.card{border:none}.logo{background-color: #eeeeeea8}.totals tr td{font-size: 13px}.footer{background-color: #eeeeeea8}.footer span{font-size: 12px}.product-qty span{font-size: 12px;color: #dedbdb} #qrcode{display: none;}

@media print { 
    #print {
        display: none;
    }
    #qrcode {
        display: inline-block;
    }


    body {
        background-color: white;
    }
    .container.mt-5.mb-5, .col-md-10, .container {
        margin: 0 !important;
        padding: 0 !important;
    }
    .container {
        max-width: 100% !important;
    }
    .col-md-10 {
        flex: none;
        max-width: 100%;
    }
}